:root.dark {
  --sys-background: #272727;
  --sys-on-background: #e1e2e9;
  --sys-surface: #2b2b2b;
  --sys-surface-dim: #111318;
  --sys-surface-bright: #37393e;
  --sys-surface-container-lowest: #0c0e13;
  --sys-surface-container-low: #191c20;
  --sys-surface-container: #1d2024;
  --sys-surface-container-high: #282a2f;
  --sys-surface-container-highest: #32353a;
  --sys-on-surface: #e1e2e9;
  --sys-surface-variant: #43474e;
  --sys-on-surface-variant: #c3c6cf;
  --sys-inverse-surface: #e1e2e9;
  --sys-inverse-on-surface: #2e3035;
  --sys-outline: #8d9199;
  --sys-outline-variant: #43474e;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #a5c9fe;
  --sys-primary: #a5c9fe;
  --sys-on-primary: #00315d;
  --sys-primary-container: #204876;
  --sys-on-primary-container: #d4e3ff;
  --sys-inverse-primary: #3b608f;
  --sys-secondary: #a5c8fe;
  --sys-on-secondary: #00315d;
  --sys-secondary-container: #214876;
  --sys-on-secondary-container: #d4e3ff;
  --sys-tertiary: #e2b7f4;
  --sys-on-tertiary: #432254;
  --sys-tertiary-container: #5b396d;
  --sys-on-tertiary-container: #f6d9ff;
  --sys-error: #ffb4ab;
  --sys-on-error: #561e19;
  --sys-error-container: #73342d;
  --sys-on-error-container: #ffdad5;
  --sys-neutral: #75777d;
  --sys-neutral-variant: #73777f;
  --sys-primary-fixed: #d4e3ff;
  --sys-primary-fixed-dim: #a5c9fe;
  --sys-on-primary-fixed: #001c39;
  --sys-on-primary-fixed-variant: #204876;
  --sys-secondary-fixed: #d4e3ff;
  --sys-secondary-fixed-dim: #a5c8fe;
  --sys-on-secondary-fixed: #001c39;
  --sys-on-secondary-fixed-variant: #214876;
  --sys-tertiary-fixed: #f6d9ff;
  --sys-tertiary-fixed-dim: #e2b7f4;
  --sys-on-tertiary-fixed: #2c0b3e;
  --sys-on-tertiary-fixed-variant: #5b396d;
  --sys-inverse-secondary: #3b608f;
  --sys-inverse-tertiary: #745086;
  --sys-inverse-error: #904a43;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
}
