@use '@angular/material' as mat;
@use "./app/core/layout/layout.component.theme" as layout-theme;

@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;


$light-theme: mat.define-theme(
  (
    color: (
      use-system-variables:true
    ),
    typography:(
      use-system-variables:true
    )
  )
);

:root {
  @include mat.all-component-themes($light-theme);
  @include layout-theme.theme($light-theme);

  @include mat.system-level-colors($light-theme);
  @include mat.system-level-typography($light-theme);
}

html,
body {
  height: 100%;
  background-color: var(--sys-background);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
